.logo{width:8%;
        padding:10;
        border:10;}
nav{font-family: 'Raleway', sans-serif;
    font-size:25px;
    padding-left:15;
    padding-bottom: 25;
}
h2,p{font-family: 'Raleway', sans-serif;
     }
h1{font-family: 'Playfair Display', serif;}

body{margin:20px; padding:80px;}
